//============================
//    Name: Footer
//============================

$$coal = #3c3c3c;
$$aqua = #00c0ff;
	
	
myfooter {
	+__() {
		.section--background {
			background-color $$coal
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width 1000px
			margin-left auto
			margin-right auto
			padding-left 1rem
			padding-right 1rem
			justify-content: space-between;
			align-items: center;
			+media(575) {
				padding 1rem
				grid-gap: .5rem;
				grid: auto \/ repeat(auto-fit, minmax(12rem, 1fr));
			}
		}
		.item {
			display: grid;
			font-setup(fmain, 12, 300);
			color: #fff;
			grid-auto-flow: column;	
			gap: .3rem;
		}
		.href {
			color: #fff;
			transition: .25s __cubic;
			cursor pointer
			&:hover {
				color: $$aqua;
				text-decoration: underline;
			}
		}
 
		.title {
			color: #fff;
		}
		.text {
			color: #fff;
		}
		.info {
			&:not(:first-child) {
				justify-items: end;
			}
			display: grid;
			gap: 0.1rem 0;
			
		}
		.info {
			+media(575) {
				justify-content: center;
				align-items: center;
				text-align center
			}
		}
		.social {
			display: grid;
			justify-content: center;
			align-items: center;
			grid-auto-flow: column;
			margin .633rem auto
			gap: 9px
		}
		.social-item {
			display: grid;;
			background-color #fff;
			radius: 100%;
			width 29px
			height 29px
			padding 0.3rem
			fill: $$coal;
			cursor pointer
			transition: .25s __cubic;
			&:hover {
				fill: #fff;
				background-color $$aqua;
			}
		}
	}
}
 