//============================
//    Name: Header
//============================

$$aqua = #00c0ff;
$$blue = #004fe5;
$$header = #ffffff;
$$header-text = #4a4a4a;

myheader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: 1000px;
			
			margin-left auto
			margin-right auto
			padding-left 1rem
			padding-right 1rem
			+media(678) {
				grid-auto-columns: 1fr auto;
			}
		}
		.section--background {
			background-color $$header
			box-shadow: __shadow;
		}
		.group-logo { 
			display: grid;
			grid-auto-flow: column;		
			justify-content: center;
			align-items: center;
			+media(866) {
				margin-top: 1rem;
			}
		}
		.brand {
			width 17rem
			height 3rem
			margin-top -10px
			fill: $$aqua;
			+media(678) {
				width auto
			}
		}
		.listbtn {
			display: grid;
			grid-auto-flow: column;
			justify-content: center;
			align-items: center;
			gap: 8px;
			margin: 14px 0;
			+media(678) {
				grid-auto-flow: row;
				grid-auto-columns: 1fr;
				padding: 0 1rem;
				margin-bottom: 2rem;
			}
		}
		.listbtn-item {
			display: grid;
			justify-content: center;
			align-items: center;
			background-color $$aqua;
			font-setup(fmain, 17.5, 300);
			color: #fff;
			padding 9px 10px
			radius: 10px;
			width 145px
			height 43px
			cursor pointer 
			position relative
			z-index 1
			&:before {
				content: '';
				display: grid;
				width: 100%;
				height: 100%;
				border-radius: inherit;
				background-color: #fd4c37;
				position: absolute;
				background-image: linear-gradient(to bottom, $$aqua, $$blue);
				opacity 0
				z-index -1
				transition: .23s __cubic;
			}
			&:hover {
				&:before {
					opacity 1
				}
			}
			+media(678) {
				width auto
				&:first-child {
					display: none;
				}
			}
		}
		.item {
			display: grid;
		}
	}
}
 