//============================
//    Name: Main page
//============================

$$coal = #3c3c3b;
$$aqua = #00c0ff;

startpage {
	+__() {
		.section--background {
			background-color #0000;
			height 100%
			
			padding-bottom: 60px;
			overflow visible;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			grid-auto-columns: 1fr;
			max-width 1000px
			
			margin-left auto
			margin-right auto
			padding-left 1rem
			padding-right 1rem
			justify-content: center;
			align-items: center;
		}
		.item {
			display: grid;
			align-items: center;
			justify-content: center;
		}
		.header {
			display: grid;
			justify-content: center;
			align-items: center;
		}
		.title {
			font-setup(fmain, 36, 300);
			color: $$coal;
			margin-top 24px
		}
		.control {
			margin-top 24px
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
			justify-content: center;
			align-items: center;
			gap: 22px;		
			grid: auto \/ repeat(auto-fit, minmax(12rem, 1fr));	
		}
		.stuff {
			margin-top 60px
			display: grid;
			grid-auto-flow: column;	
			justify-content: center;
			align-items: center;
			gap: 30px;
			grid: auto \/ repeat(auto-fit, minmax(9rem, 1fr));			
		}
		.stuff-item {
			display none;
		}
		.stuff-nothing {
			display: none;
			justify-content: center;
			align-items: center;
			text-align center
			gap: .4rem;
			margin 3rem auto 0
		}
		.stuff-text {
			font-setup(fmain, 26.3, 400);
			color: #666;
			text-transform uppercase
		}
		.stuff-subtext {
			font-setup(fmain, 12, 400);
			text-transform uppercase
			color: #ccc;
		}
		.form-group {
			display: grid;
			position relative
		}
 		.input {
 			x-color = $$aqua;
 			font-setup(fmain, 15px, 400)
 			radius: 6px;
 			background-color #ffffff;
 			padding 21px 15px 5px
 			text-decoration: none;
 			text-align left
 			color: x-color;
 			border 1px solid rgba(x-color, 0.15);
 			box-shadow: 0 1px 1px rgba(x-color, 0.15), 0 1px 3px rgba(x-color, 0.08);
 			cursor pointer
 			&::placeholder {
 				transition: .25s __cubic;
 				color: $$aqua;
 			}
 			&:focus {
 				x-color = $$aqua;
 				color: #111
 				border 1px solid rgba(x-color, 0.16);
 				box-shadow: 0 3px 6px rgba(x-color, 0.10), 0 3px 6px rgba(x-color, 0.16);
 				&::placeholder {
 					transition: .25s __cubic;
 					color: #0000;
 				}
 			}
 			&:hover {
 				x-color = $$aqua;
 				border 1px solid rgba(x-color, 0.33);
 			}
 		}
 		.label {
 			position absolute
 			left 1rem
 			top 6px
 			font-setup(fmain, 12, 400);
 			line-height: normal;
 			letter-spacing: -0.3px;
 			color: $$tools-label;
 			pointer-events: none;
 			transition: .25s __cubic;
 		}
 		.enter-point {
 			display: grid;
 			width: 2rem;
 			height: 100%;
 			justify-content: center;
 			align-items: center;
 			position absolute
 			right 0
 			border-radius: 0 0.375rem 0.375rem 0;
 			top 50%
 			transform translate(0, -50%)
 			overflow hidden
 			cursor pointer
 			&:before {
 				content: '';
 				display: grid;
 				width: 100%;
 				height: 100%;
 				font-size: 1rem;
 				line-height: 1;
 				text-align: center;
 				position: absolute;
 				background-color: rgba(#c4c4c4, 0.08);
				pointer-events: none;
 				transition: .25s __cubic;
 			}
 		}
 		.span-arrow {
 			position: absolute;
 			right: 1rem;
 			top: 50%;
 			transform translate(0, -45%)
 			width: 1rem;
 			height: 1rem;
 			stroke: #0000;
 			fill: #ddd;
 			transition: .25s __cubic;
 			pointer-events: none;
 		}
 		.span-enter {
 			width: 1rem;
 			height: 1rem;
 			stroke: #0000;
 			fill: #ddd;
 			transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
 			top: 0;
 			transform translate(0, 0)
 			position relative
 			right 0
 			cursor pointer
 			pointer-events: none;
 		}
	}
}

.startpage__form-group:last-child {
	.startpage__input {
		padding-right 2rem
	}
}
.startpage__stuff-item {
	&.load {
		display: grid;
	}
}

.dropdown {
	&__select {
		x-color = $$aqua;
		transform scale(0);
		position: absolute;
		top: 3.5rem;
		width 100%
		text-decoration: none;
		list-style: none;
		padding: 0.5rem 0;
		margin: 0;
		z-index 123;
		radius: 6px;
		background-color #fff;
		border 1px solid rgba(x-color, 0.22);
		box-shadow: 0 3px 6px rgba(x-color, 0.1), 0 3px 6px rgba(x-color, 0.16);
		li {
			min-height 33px
			padding 0.5rem 1rem
			font-setup(fmain, 15px, 400)
			transition .25s __cubic
			cursor pointer
			user-select none;
			&:hover {
				color: $$aqua
				background-color rgba($$aqua, 0.12);;
			}
		}
	}
}
.dropdown__select.open {
	animation dropdown-select .35s forwards
}

.startpage__enter-point {
 &:hover {
 		&:before {
 			background-color: $$aqua;
 		}
 		& span {
 			fill: #fff;
 		}
 	}	
}

.startpage__input {
	&:focus + .startpage__label {
		transition: .25s __cubic;
		color: $$aqua;
	}
	&:focus + label + .startpage__span-arrow {
		transition: .25s __cubic;
		stroke: $$aqua;
		fill: $$aqua;
	}
}

+key(dropdown-select) {
	0% {
		transform translate(0, -7rem) scale(0)
	}
	45% {
		transform translate(0, -0.5rem) scale(1)
	}
	55% {
		transform translate(0, 0.5rem) scale(1)
	}
	100% {
		transform translate(0, 0rem) scale(1)
	}
}

stuffcard {
	+__() {
		.box {
			display: grid;
			width 170px
			radius: 10px;
			border 0px solid #0000;
			margin 4px auto
			overflow hidden
			box-shadow: __shadow;
			transition: .25s __cubic;
			background-color #f1f1f1;
			&:hover {
				transform scale(1.05)
			}
		}
		.image {
			display: grid;
			justify-content: center;
			align-items: center;
			min-height 145px
			transition: .25s __cubic;
		}
		.desc {
			display: grid;
			grid-auto-flow: row;
			grid-auto-columns: 1fr;		
			justify-content: start;
			align-items: center;
			padding 10px 16px
			gap: .4rem 0;
			background-color #fff;
		}
		.subject {
			font-setup(fmain, 14, 400);
			color: $$coal;
		}
		.grade {
			font-setup(fmain, 14, 400);
			color: $$coal;
		}
		.genre {
			font-setup(fmain, 11, 400);
			color: $$coal;
		}
		.href {
			margin-top 10px
			font-setup(fmain, 12, 600);
			color: $$aqua;
			cursor pointer;
			transition: .25s __cubic;
			&:hover {
				text-decoration underline
				color: darken($$aqua, 15%)
			}
		}
		.button {
			display: grid;
			justify-content: center;
			align-items: center;
			font-setup(fmain, 12, 400);
			color: #fff;
			background-color $$aqua;
			radius: 6px;
			padding 0.4rem;
			cursor pointer
			transition: .25s __cubic;
			&:hover {
				background-color darken($$aqua, 15%)
			}	 
		}
		
	}
}

preloader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: max-content
			margin-left auto
			margin-right auto 
		}
		.item {
			background-color #fff
			width .2rem
			height .2rem
			radius: 100%;
			margin 3px
			margin-bottom 0
			animation anima-dots 1s infinite 
		}
		itemDelai() {
			xtime = 0.24s;
			for i in 1 .. 3 {
				.item:nth-child({i}) {
					animation-delay: xtime * i;
				}
			} 
		}
		itemDelai();
	}
}

+key(anima-dots) {
	50% {
		transform scale(1.1) translate(0, -4px);
	}
}

loader {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			background-color $$aqua
			radius: 4px;
			box-shadow: 0 13px 28px #00bdfb4f,
			 0 6px 10px #00c0ff52;
			position fixed
			left 50%
			transform translate(-50%, 0)
			bottom 13%
			justify-content: center;
			align-items: center;
			padding 7px 14px
			border 1px solid $$aqua;
			
			opacity 1
			transition: .25s __cubic;
		}
		.text {
			font-setup(fmain, 14, 700);
			color: #fff
		}
	}
}
.loader__box.hidden {
	$$success = #00d940;
	border 1px solid $$success;
	background-color $$success
	box-shadow: 0 13px 28px rgba($$success, 0.50),
	0 6px 10px rgba($$success, 0.50);
	animation anima-opacity 1s 1s forwards;
}

+key(anima-opacity) {
	0% {
		// opacity 1
	}
	100% {
		bottom -100%
	}
}

.startpage__stuff-nothing {
	&.show {
		display: grid;
	}
}