//============================
//    Name: Header
//============================

$$aqua = #00c0ff;

$$header = #ffffff;
$$burger-color = $$aqua;
$$header-text = #4a4a4a;

myheader {
	+__() {
		.burger {
			display grid
			justify-content: center;
			align-items: center;
			+media(678) {
				display: grid;
			}
		}
		.menu {
			display: grid;
			gap: 6px;
			padding 1rem
			transition .25s __cubic
			cursor pointer
			position relative
			&:before {
				content: '';
				display: grid;
				width: 3.5rem;
				height: 3.5rem;
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color: rgba(#ddd, 0.50);;
				position: absolute;
				left -35%
				top 50%
				transform: translate(50%, -50%) scale(0);
				radius: 100%;
			}
		}
		.menu-line { 
			background-color $$burger-color;
			color: $$burger-color;
			height 4px
			width 33px
			transition .25s __cubic
			user-select none
			position relative
			z-index 2
		}
		.navigat {
			display: grid;
			grid-auto-columns: auto;
			justify-content: space-between;
			grid-auto-flow: column;
			align-items: center;
			+media(866) {
				grid-auto-columns: 1fr;
				grid-auto-flow: row;
			}
		}
		.navigat--clone {
			+min-media(678) {
				display none
				overflow hidden
			}
			padding unset
		}
		.list {
			display: grid;
			grid-auto-flow: column;
			gap: 80px;
			+media(768) {
				gap: 1rem;
			}
			+media(678) {
				height 0
				min-height 0
				overflow hidden
				grid-auto-flow: row;
				grid-auto-columns: max-content;
				transition: all .33s ease;
				padding: 0 1.2rem 0;
			}
			+min-media(678) {
				display none
				overflow hidden
			}
		}
		.list--cloned {
			display: grid;
			grid-auto-flow: column;
			grid-row: 3;
			align-items: start;
			justify-content: start;
			grid-gap: 1rem;
			height: 0;
			min-height: 0;
			padding: 0;
			transition: .25s __cubic;
			overflow: hidden;
			+media(866) {
				justify-content: center;
				align-items: center;
			}
			+media(678) {
				display none
			}
		}
		.list-item {
			text-decoration none
			color: $$header-text
			transition: .25s __cubic;
			&:after {
				content: '';
				display: grid;
				transform: scaleX(0);
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				border-bottom: 0.125rem solid $$burger-color;
				transform-origin: 0% 50%;
				backface-visibility: hidden;
			}
			&:hover {
				+media(678) {
					margin-left: .5rem;
				}
			}
			&:hover:after {
				transform: scaleX(1);
			}
		}
		
	}
}

.myheader__list.open { 
	padding: .8rem 1.2rem;
	padding-bottom 11rem;
}
.myheader__menu:hover:before {
	transition: .25s __cubic;
	transform: translate(50%, -50%) scale(1);
}


.anima-smooth-height {
	animation anima-smooth-height 0.44s forwards
}
+key(anima-smooth-height) {
	0% {
		min-height 0
		padding-bottom 0;
	}
	100% {
		min-height 100%
		padding-bottom 10rem;
	}
}

mixHoverHumburger() {
	top = 4px
	middle = 0
	bot = -4px

	.myheader__menu-line:nth-child(1) {
		transform: translateX(top);
	}
	.myheader__menu-line:nth-child(2) {
		transform: translateX(middle);
	}
	.myheader__menu-line:nth-child(3) {
		transform: translateX(bot);
	}
}

.myheader__menu.open {
	mixHoverHumburger();
}

.myheader__list--cloned.open {
	padding-top .5rem
	padding-bottom 2.5rem
}
