<div role="contentinfo" class="myfooter__section myfooter__section--background">
	<address class="myfooter__box">
		<div class="myfooter__group myfooter__info">
			<div class="myfooter__item">© <a class="myfooter__href" title="URL" role="link" href="#">ООО «Физикон Лаб»,</a> 2013—2019</div>
			<div class="myfooter__item"><a class="myfooter__href" title="URL" role="link" href="#">Пользовательское соглашение</a></div>
		</div>
		<div class="myfooter__group myfooter__social">
			<a class="myfooter__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-twitter"><use xlink:href="#id-glyphs-social-twitter"></use></svg></a>
			<a class="myfooter__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-vkontakte"><use xlink:href="#id-glyphs-social-vkontakte"></use></svg></a>
			<a class="myfooter__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-facebook"><use xlink:href="#id-glyphs-social-facebook"></use></svg></a>
			<a class="myfooter__social-item" title="URL" role="link" href="#"><svg role="picture-svg" class="glyphs__social-insta"><use xlink:href="#id-glyphs-social-insta"></use></svg></a>
		</div>
		<div class="myfooter__group myfooter__info">
			<div class="myfooter__item"><a class="myfooter__href" title="URL" role="link" href="#">+7 (499) 322-07-57,</a> <a class="myfooter__href" title="URL" role="link" href="#">info@imumk.ru</a></div>
			<div class="myfooter__item"><a class="myfooter__href" title="URL" role="link" href="#">Правила пользования сайтом</a></div>
		</div>
	</address>
</div>
