<div role="navigation" class="myheader__section myheader__section--background">
	<nav class="myheader__box">

		<div class="myheader__navigat">

			<div class="myheader__group myheader__group-logo">
				<a class="myheader__brand" title="URL" role="link" href="#">
					<svg role="picture-svg" class="glyphs__header-logo"><use xlink:href="#id-glyphs-header-logo"></use></svg>
				</a>
				<div class="myheader__burger">
					<div class="myheader__menu js__navHamburger">
						<span class="myheader__menu-line">&nbsp;</span>
						<span class="myheader__menu-line">&nbsp;</span>
						<span class="myheader__menu-line">&nbsp;</span>
					</div>
				</div>
			</div>
			<div class="myheader__group myheader__list js__navHamburgerOpener">
				<a class="myheader__list-item" title="URL" role="link" href="#">Витрина</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">О проекте</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Новости</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Помощь</a>
				<a class="myheader__list-item" title="URL" role="link" href="#">Скачать</a>
			</div>
			<div class="myheader__group myheader__listbtn">
				<a class="myheader__listbtn-item" title="URL" role="link" href="#">Каталог</a>
				<a class="myheader__listbtn-item" title="URL" role="link" href="#">Активация</a>
				<a class="myheader__listbtn-item" title="URL" role="link" href="#">Вход</a>
			</div>
	
		</div>

		<div class="js__navHamburgerClone">			
			<!-- js__navHamburgerClone  content-->
		</div>
	</nav>
</div>
