<section class="startpage__section startpage__section--background">
	<div class="startpage__box js__serverControlPanel">
		<div class="startpage__header"><h1 class="startpage__title">Витрина</h1>
		</div>
		<div class="startpage__control js__createDropList">

			<div class="startpage__form-group">
				<input id="startpage-allstuff" class="startpage__input" type="button" name="subject" value="Все предметы">
				<label for="startpage-allstuff" class="startpage__label">Предметы</label>
				<span class="startpage__span-arrow">
					<svg role="picture-svg" class="glyphs__down-arrow"><use xlink:href="#id-glyphs-down-arrow"></use></svg>
				</span>
			</div>

			<div class="startpage__form-group">
				<input id="startpage-allgenre" class="startpage__input" type="button" name="genre" value="Все жанры">
				<label for="startpage-allgenre" class="startpage__label">Жанры</label>
				<span class="startpage__span-arrow">
					<svg role="picture-svg" class="glyphs__down-arrow"><use xlink:href="#id-glyphs-down-arrow"></use></svg>
				</span>
			</div>

			<div class="startpage__form-group">
				<input id="startpage-allgrade" class="startpage__input" type="button" name="grade" value="Все классы">
				<label for="startpage-allgrade" class="startpage__label">Классы</label>
				<span class="startpage__span-arrow">
					<svg role="picture-svg" class="glyphs__down-arrow"><use xlink:href="#id-glyphs-down-arrow"></use></svg>
				</span>
			</div>
			<div class="startpage__form-group">
				<input id="startpage-allsearch" class="startpage__input" type="text" name="search" placeholder="Введите запрос" autocomplete="off" value="">
				<label for="startpage-allsearch" class="startpage__label">Поиск</label>
				<div class="startpage__enter-point js__clickEnter">
					<span class="startpage__span-enter">
						<svg role="picture-svg" class="glyphs__right-arrow"><use xlink:href="#id-glyphs-right-arrow"></use></svg>
					</span>
				</div>
			</div>
		</div>
		<div class="startpage__stuff-nothing js__resultNothing">
			<div class="startpage__stuff-text">Ничего не найдено</div>
			<div class="startpage__stuff-subtext">Попробуйте изменить поисковой запрос</div>
		</div>
		<div class="startpage__stuff js__stuffGenerator">
			<!-- generate startpage__stuff-item -->
		</div>
	</div>

</section>

<div class="__device__">&nbsp;</div>
